<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "New" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="web_push_public" content="<%= Base64.urlsafe_decode64(Rails.application.credentials[Rails.env.to_sym][:webpush][:public_key]).bytes %>" />
  </head>

  <body>
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>

    <%= yield %>
    <%= link_to "New blog", new_blog_path %></br>
    <button id="enable_notifications" class="hidden">Enable Notifications</button>
  </body>
</html>
